@inherits UmbracoViewPage<ELearning.Models.FormResult>
@{
    Layout = "Master.cshtml";
    var form = Umbraco.TypedContent(Model.FormId);
}

@* Renders the FormResult *@
<h1>
    @Model.FormTitle
</h1>
<p>
    Sie haben @Model.YourCorrectAnswers von @Model.AllCorrectAnswers Punkten erreicht.
    @if (Model.YourCorrectAnswers == Model.AllCorrectAnswers)
    {
        <text>Sie haben alle Fragen korrekt beantwortet.</text>
    }
</p>

<form style="display: inline" action="@form.Url">
    <button type="submit" class="btn btn-secondary background-red">Zurück zum Test</button>
</form>
<form style="display: inline" action="/">
    <button type="submit" class="btn btn-secondary background-red">Zur Startseite</button>
</form>