@inherits UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
    string[] fragen = CurrentPage._fragen.Split(',');
    if (fragen.Length == 1 && fragen[0] == string.Empty)
    {
        fragen = new string[0];
    }
}
<h2>
    @CurrentPage.Name
</h2>
<p>
    @CurrentPage._einleitung
</p>

@if (fragen.Length > 0)
{
    <form>
        @foreach (var frageId in fragen)
        {
            var frage = Umbraco.Content(frageId);
            string[] antworten = frage._antwortmoeglichkeiten.Split('|');
            if (antworten.Length == 1 && antworten[0] == string.Empty)
            {
                antworten = new string[0];
            }
            <fieldset>
                <legend>
                    @frage._frage
                </legend>
                @foreach (var antwort in antworten)
                {
                    if (frage.DocumentTypeId == 1122)
                    {
                        <p>
                            <input type="radio" name="@frageId" value="true" /> @antwort
                        </p>
                    }
                    else if (frage.DocumentTypeId == 1126)
                    {
                        <p>
                            <input type="checkbox" name="zweiteFrage" value="true" /> @antwort
                        </p>
                    }
                }
            </fieldset>
        }
        <br/>
        <p>
            <a href="/auswertung-default" style="color: red">Fragebogen zur Korrektur geben</a>
        </p>
    </form>
}