@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<h3>@CurrentPage.Name</h3>
<p>@CurrentPage._einleitung</p>
<form>
    <fieldset>
        <legend>
            Was ist die einzige richtige Antwort?
        </legend>
        <p>
            <input type="radio" name="ersteFrage" value="true"/> Richtige Antwort
        </p>
        <p>
            <input type="radio" name="ersteFrage" value="false"/> Falsche Antwort
        </p>
    </fieldset>
    <fieldset>
        <legend>
            Was sind die richtigen Antworten?
        </legend>
        <p>
            <input type="checkbox" name="zweiteFrage" value="true"/> Richtige Antwort
        </p>
        <p>
            <input type="checkbox" name="zweiteFrage" value="true"/> Richtige Antwort
        </p>
        <p>
            <input type="checkbox" name="zweiteFrage" value="false"/> Falsche Antwort
        </p>
    </fieldset>
    <p>
        <input type="submit" name="submit"/>
    </p>
</form>