@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage
@{
  Layout = "Master.cshtml";
  var viewModel = Model.Content.As<ELearning.Models.Homepage>();
}
<h3 class="bx-heading">
    @viewModel.SiteTitle
</h3>
@viewModel.SiteDescription