@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
    var viewModel = Model.Content.As<ELearning.Models.Overview>();
}
<h3>@viewModel.Name</h3>
@foreach (var child in viewModel.Children.OrderBy(t => t.Name))
{
    <h5>
        <a href="@child.Url">@child.Name</a>
    </h5>
}