@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<h3>@CurrentPage.Name</h3>
@{
    var children = Model.Content.Children.OrderBy(t => t.Name);
}
@foreach (var child in children)
{
    <h5>
        <a href="@child.Url">@child.Name</a>
    </h5>
}