@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var viewModel = Model.Content.As<ELearning.Models.Video>();
}

<h2>
    @viewModel.Name
</h2>
@viewModel.TextAbove

@viewModel.YoutubeEmbedded

@viewModel.TextBelow