@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    string iFrameLink = string.Empty;
    string currentLink = CurrentPage._youtubeLink;
    if (currentLink.Contains("youtube.com/watch?v="))
    {
        iFrameLink = "https://www.youtube.com/embed/" + currentLink.Substring(currentLink.FindIndex(t => t.Equals('=')) + 1, 11);
    }
    else if (currentLink.Contains("youtube.com/embed/"))
    {
        iFrameLink = currentLink;
    }
}

<h2>
    @CurrentPage.Name
</h2>
<p>
    @CurrentPage._textUeberVideo
</p>
@if (!iFrameLink.IsNullOrWhiteSpace())
{
    <div class="video-container">
        <iframe src="@iFrameLink" frameborder="0" allowfullscreen></iframe>
    </div>
}
<p>
    @CurrentPage._textUnterVideo
</p>
