<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
<!ELEMENT formular ANY>
<!ATTLIST formular id ID #REQUIRED>
<!ELEMENT overview ANY>
<!ATTLIST overview id ID #REQUIRED>
<!ELEMENT video ANY>
<!ATTLIST video id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1063" key="07b86bab-970a-4bc4-bf50-a6ad0c4a4bd1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-17T20:28:28" updateDate="2016-10-17T22:50:13" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteLogo><![CDATA[/media/1050/hwr_logo_negativ.gif]]></siteLogo>
    <siteTitle><![CDATA[E-Learning@HWR]]></siteTitle>
    <siteDescription><![CDATA[Hallo liebe:r Besucher:in,</p>
<p>dies ist die neue E-Learningplattform der HWR Berlin.</p>
<p>Dies ist ein Projekt von Katja  Holzinger, Maximilian Prohl und Milan Höllner im Rahmen des Moduls Software Engineering im dritten Semester.</p><br/>
<p>Infos zum Gendern mit Doppelpunkt gibt es <a href ="http://kleinerdrei.org/2016/09/alles-handeln-ist-politisch-ein-plaedoyer-fuer-das-gendern-mit-doppelpunkt-und-ein-gespraech-mit-lann-hornscheidt/">hier</a>.]]></siteDescription>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></content>
    <overview id="1089" key="4b3ff81c-6469-4adf-98ee-665bf0230186" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-10-17T23:50:42" updateDate="2016-10-18T13:37:27" nodeName="Videos" urlName="videos" path="-1,1063,1089" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <video id="1085" key="bbb3095d-8489-4e22-a421-b931ac2a4d03" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2016-10-17T23:15:13" updateDate="2016-10-17T23:51:16" nodeName="Pavlidis - Mutterschiff" urlName="pavlidis-mutterschiff" path="-1,1063,1089,1085" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="1080" nodeTypeAlias="video">
        <textUeberVideo><![CDATA[<p>Das ist das erste Video der Kombination aus dem Sänger der Ohrbooten, Ben (Pavlidis) und dem Bruder von Käptn Peng, Shaban.</p>
<p>Auf jeden Fall eine krasse Kombination.</p>]]></textUeberVideo>
        <youtubeLink><![CDATA[https://www.youtube.com/watch?v=KQDpRiDLi2c]]></youtubeLink>
        <textUnterVideo><![CDATA[<p>Das Album heißt Identitetris und erscheint am 11.11.2016 beim Hauslabel von Käptn Peng <a href="http://kreismusik.de">Kreismusik</a>.</p>]]></textUnterVideo>
      </video>
      <video id="1086" key="7675cd7b-6434-47d7-92fc-b759c2d3fa0f" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2016-10-17T23:45:39" updateDate="2016-10-17T23:51:25" nodeName="Logarithmus, Anfänge, Rechengesetze, Logarithmieren | Mathe by Daniel Jung" urlName="logarithmus-anfaenge-rechengesetze-logarithmieren-mathe-by-daniel-jung" path="-1,1063,1089,1086" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="1080" nodeTypeAlias="video">
        <textUeberVideo><![CDATA[<p>Als Logarithmus (Plural: Logarithmen) einer Zahl bezeichnet man den Exponenten, mit dem eine vorher festgelegte Zahl, die Basis, potenziert werden muss, um die gegebene Zahl zu erhalten. Logarithmen sind nur für positive reelle Zahlen definiert, auch die Basis muss positiv sein.<br /><br />Der Logarithmus einer positiven reellen Zahl x zur Basis b ist also der Wert des Exponenten, wenn x als Potenz zur Basis b dargestellt wird, also diejenige Zahl y, welche die Gleichung b^y = x löst. Das Logarithmieren, ist damit eine Umkehroperation des Potenzierens. Die Funktion, die bei gegebener festen Basis b jeder positiven Zahl ihren Logarithmus zuordnet, nennt man Logarithmusfunktion zur Basis b.</p>]]></textUeberVideo>
        <youtubeLink><![CDATA[https://www.youtube.com/watch?v=3h00zAFRLPY]]></youtubeLink>
        <textUnterVideo><![CDATA[<p>Daniel Jung erklärt Mathe in Kürze</p>]]></textUnterVideo>
      </video>
    </overview>
    <overview id="1090" key="78130aff-2e99-4fd6-870f-f754b9d15587" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-10-17T23:51:47" updateDate="2016-10-18T13:37:27" nodeName="Wissenstests" urlName="wissenstests" path="-1,1063,1090" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <formular id="1095" key="f9c7f649-bfcc-43bc-9917-3c44b2b3f8e8" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2016-10-18T00:02:31" updateDate="2016-10-18T00:02:31" nodeName="Analysis" urlName="analysis" path="-1,1063,1090,1095" isDoc="" nodeType="1092" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="formular">
        <einleitung><![CDATA[<p>Dies ist ein Einleitungstext</p>]]></einleitung>
      </formular>
    </overview>
    <overview id="1102" key="a60e5dc5-d622-4627-b1a3-378517fbf35b" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2016-10-18T13:37:00" updateDate="2016-10-18T13:37:27" nodeName="Benutzer" urlName="benutzer" path="-1,1063,1102" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <profile id="1103" key="31fbfbd7-de0b-4dd5-9904-250cead4b8f5" parentID="1102" level="3" creatorID="0" sortOrder="0" createDate="2016-10-18T13:38:23" updateDate="2016-10-18T14:02:18" nodeName="Milan Höllner" urlName="milan-hoellner" path="-1,1063,1102,1103" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profilePic><![CDATA[1097]]></profilePic>
        <profileDescription><![CDATA[<p>Dualstudent der Informatik</p>
<p>Momentan Designer des Mockups für das Software Engineering Projekt E-Learning.</p>]]></profileDescription>
      </profile>
      <profile id="1104" key="ed4a9954-b3cb-417e-822c-8d9a141d7ee0" parentID="1102" level="3" creatorID="0" sortOrder="1" createDate="2016-10-18T13:52:54" updateDate="2016-10-18T14:02:26" nodeName="Katja Holzinger" urlName="katja-holzinger" path="-1,1063,1102,1104" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dualstudentin der Informatik</p>
<p>Momentan Dokumentationsbeauftragte des Software Engineering Projekts E-Learning.</p>]]></profileDescription>
      </profile>
      <profile id="1105" key="e38cabee-e144-4d57-a926-ca720c027823" parentID="1102" level="3" creatorID="0" sortOrder="2" createDate="2016-10-18T13:54:32" updateDate="2016-10-18T14:02:33" nodeName="Maximilian Prohl" urlName="maximilian-prohl" path="-1,1063,1102,1105" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dualstudent der Informatik</p>
<p>Momentan Teamleiter des Software Engineering Projekts E-Learning.</p>]]></profileDescription>
      </profile>
    </overview>
    <LandingPage id="1096" key="3b702950-ac60-484f-8768-a0437a1513c4" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2016-10-18T13:21:00" updateDate="2016-10-18T14:16:04" nodeName="Logged In" urlName="logged-in" path="-1,1063,1096" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Du hast dich erfolgreich eingeloggt.",
                  "editor": {
                    "alias": "abstract"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "styles": {},
          "config": {
            "class": "full triangle"
          },
          "hasConfig": true,
          "id": "5cd38069-33fd-bc6a-00c0-1f2a40dae301",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
  </Home>
</root>