<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT video ANY>
<!ATTLIST video id ID #REQUIRED>
<!ELEMENT overview ANY>
<!ATTLIST overview id ID #REQUIRED>
<!ELEMENT formular ANY>
<!ATTLIST formular id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
<!ELEMENT modul ANY>
<!ATTLIST modul id ID #REQUIRED>
<!ELEMENT singleChoiceQuestion ANY>
<!ATTLIST singleChoiceQuestion id ID #REQUIRED>
<!ELEMENT multipleChoiceQuestion ANY>
<!ATTLIST multipleChoiceQuestion id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1063" key="07b86bab-970a-4bc4-bf50-a6ad0c4a4bd1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-17T20:28:28" updateDate="2016-10-26T18:02:43" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteLogo><![CDATA[/media/1050/logo_2.png]]></siteLogo>
    <siteTitle><![CDATA[E-Learning@HWR]]></siteTitle>
    <siteDescription><![CDATA[Hallo liebe:r Besucher:in,</p>
<p>dies ist die neue E-Learningplattform der HWR Berlin.</p>
<p>Dies ist ein Projekt von Katja  Holzinger, Maximilian Prohl und Milan Höllner im Rahmen des Moduls Software Engineering im dritten Semester.</p><br/>
<p>Infos zum Gendern mit Doppelpunkt gibt es <a href ="http://kleinerdrei.org/2016/09/alles-handeln-ist-politisch-ein-plaedoyer-fuer-das-gendern-mit-doppelpunkt-und-ein-gespraech-mit-lann-hornscheidt/">hier</a>.]]></siteDescription>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></content>
    <overview id="1089" key="4b3ff81c-6469-4adf-98ee-665bf0230186" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-10-17T23:50:42" updateDate="2016-10-18T13:37:27" nodeName="Videos" urlName="videos" path="-1,1063,1089" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <video id="1085" key="bbb3095d-8489-4e22-a421-b931ac2a4d03" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2016-10-17T23:15:13" updateDate="2016-10-17T23:51:16" nodeName="Pavlidis - Mutterschiff" urlName="pavlidis-mutterschiff" path="-1,1063,1089,1085" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="1080" nodeTypeAlias="video">
        <textUeberVideo><![CDATA[<p>Das ist das erste Video der Kombination aus dem Sänger der Ohrbooten, Ben (Pavlidis) und dem Bruder von Käptn Peng, Shaban.</p>
<p>Auf jeden Fall eine krasse Kombination.</p>]]></textUeberVideo>
        <youtubeLink><![CDATA[https://www.youtube.com/watch?v=KQDpRiDLi2c]]></youtubeLink>
        <textUnterVideo><![CDATA[<p>Das Album heißt Identitetris und erscheint am 11.11.2016 beim Hauslabel von Käptn Peng <a href="http://kreismusik.de">Kreismusik</a>.</p>]]></textUnterVideo>
      </video>
      <video id="1086" key="7675cd7b-6434-47d7-92fc-b759c2d3fa0f" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2016-10-17T23:45:39" updateDate="2016-10-17T23:51:25" nodeName="Logarithmus, Anfänge, Rechengesetze, Logarithmieren | Mathe by Daniel Jung" urlName="logarithmus-anfaenge-rechengesetze-logarithmieren-mathe-by-daniel-jung" path="-1,1063,1089,1086" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="1080" nodeTypeAlias="video">
        <textUeberVideo><![CDATA[<p>Als Logarithmus (Plural: Logarithmen) einer Zahl bezeichnet man den Exponenten, mit dem eine vorher festgelegte Zahl, die Basis, potenziert werden muss, um die gegebene Zahl zu erhalten. Logarithmen sind nur für positive reelle Zahlen definiert, auch die Basis muss positiv sein.<br /><br />Der Logarithmus einer positiven reellen Zahl x zur Basis b ist also der Wert des Exponenten, wenn x als Potenz zur Basis b dargestellt wird, also diejenige Zahl y, welche die Gleichung b^y = x löst. Das Logarithmieren, ist damit eine Umkehroperation des Potenzierens. Die Funktion, die bei gegebener festen Basis b jeder positiven Zahl ihren Logarithmus zuordnet, nennt man Logarithmusfunktion zur Basis b.</p>]]></textUeberVideo>
        <youtubeLink><![CDATA[https://www.youtube.com/watch?v=3h00zAFRLPY]]></youtubeLink>
        <textUnterVideo><![CDATA[<p>Daniel Jung erklärt Mathe in Kürze</p>]]></textUnterVideo>
      </video>
      <video id="1132" key="dae50dde-6bb1-40d5-8f7d-31e652981675" parentID="1089" level="3" creatorID="0" sortOrder="3" createDate="2016-10-21T12:05:16" updateDate="2016-10-21T12:05:16" nodeName="NSA whistleblower Edward Snowden: 'I don't want to live in a society that does these sort of things'" urlName="nsa-whistleblower-edward-snowden-i-dont-want-to-live-in-a-society-that-does-these-sort-of-things" path="-1,1063,1089,1132" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="1080" nodeTypeAlias="video">
        <textUeberVideo><![CDATA[<div id="watch-uploader-info"><strong class="watch-time-text">Veröffentlicht am 09.07.2013</strong></div>
<div id="watch-description-text" class="">
<p id="eow-description" class="">NSA whistleblower Edward Snowden: 'I don't want to live in a society that does these sort of things'<br />Subscribe to the Guardian HERE: <a rel="nofollow" href="http://bitly.com/UvkFpD" target="_blank" class=" yt-uix-servicelink " data-servicelink="CC8Q6TgiEwit7snW0uvPAhXCGhYKHZMnCnQo-B0" data-url="http://bitly.com/UvkFpD">http://bitly.com/UvkFpD</a></p>
</div>]]></textUeberVideo>
        <youtubeLink><![CDATA[https://www.youtube.com/watch?v=0hLjuVyIIrs]]></youtubeLink>
      </video>
      <video id="1133" key="5ea7a53e-8b46-4a32-bde7-d8f4f36aa027" parentID="1089" level="3" creatorID="0" sortOrder="4" createDate="2016-10-21T12:06:02" updateDate="2016-10-21T12:06:02" nodeName="Edward Snowden Dokumentation Citizenfour" urlName="edward-snowden-dokumentation-citizenfour" path="-1,1063,1089,1133" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="1080" nodeTypeAlias="video">
        <textUeberVideo><![CDATA[<p>Ein Dokumentarfilm von Laura Poitras</p>]]></textUeberVideo>
        <youtubeLink><![CDATA[https://www.youtube.com/watch?v=Yn8hA5JBotU]]></youtubeLink>
      </video>
    </overview>
    <overview id="1090" key="78130aff-2e99-4fd6-870f-f754b9d15587" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-10-17T23:51:47" updateDate="2016-10-18T13:37:27" nodeName="Wissenstests" urlName="wissenstests" path="-1,1063,1090" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <formular id="1095" key="f9c7f649-bfcc-43bc-9917-3c44b2b3f8e8" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2016-10-18T00:02:31" updateDate="2016-10-21T12:16:48" nodeName="Ableiten" urlName="ableiten" path="-1,1063,1090,1095" isDoc="" nodeType="1092" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="formular">
        <fragen><![CDATA[1128,1129]]></fragen>
        <einleitung><![CDATA[<p>Dies ist ein Einleitungstext</p>]]></einleitung>
      </formular>
      <formular id="1140" key="9bc8d423-4b1a-4d9d-9c54-25fe4d7f7adf" parentID="1090" level="3" creatorID="0" sortOrder="1" createDate="2016-10-27T14:03:53" updateDate="2016-10-27T14:03:53" nodeName="Rechenanlagen" urlName="rechenanlagen" path="-1,1063,1090,1140" isDoc="" nodeType="1092" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="formular">
        <fragen><![CDATA[1139]]></fragen>
        <einleitung><![CDATA[<p>Einleitung</p>]]></einleitung>
      </formular>
    </overview>
    <overview id="1137" key="0a679463-e5b0-4c00-8619-400ef7e7ff29" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2016-10-27T13:56:43" updateDate="2016-10-27T13:58:14" nodeName="Fragen" urlName="fragen" path="-1,1063,1137" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <singleChoiceQuestion id="1128" key="55ac1918-4ca8-44a9-8ade-8a188ade670d" parentID="1137" level="3" creatorID="0" sortOrder="1" createDate="2016-10-21T11:06:55" updateDate="2016-10-27T13:58:34" nodeName="Was ist die Ableitung von x²?" urlName="was-ist-die-ableitung-von-x" path="-1,1063,1137,1128" isDoc="" nodeType="1122" creatorName="admin" writerName="admin" writerID="0" template="1121" nodeTypeAlias="singleChoiceQuestion">
        <antwortmoeglichkeiten><![CDATA[2x|x²]]></antwortmoeglichkeiten>
        <frage><![CDATA[<p>Was ist die Ableitung von x²?</p>]]></frage>
      </singleChoiceQuestion>
      <multipleChoiceQuestion id="1129" key="58eabde2-05da-43e0-801e-7a6bd8b55563" parentID="1137" level="3" creatorID="0" sortOrder="2" createDate="2016-10-21T11:33:56" updateDate="2016-10-27T13:58:59" nodeName="Ist das richtig?" urlName="ist-das-richtig" path="-1,1063,1137,1129" isDoc="" nodeType="1126" creatorName="admin" writerName="admin" writerID="0" template="1125" nodeTypeAlias="multipleChoiceQuestion">
        <antwortmoeglichkeiten><![CDATA[ja|ja|nein]]></antwortmoeglichkeiten>
        <frage><![CDATA[<p>Ist das richtig?</p>]]></frage>
      </multipleChoiceQuestion>
      <singleChoiceQuestion id="1139" key="d7ef7464-225b-4495-a16d-18bfef564be1" parentID="1137" level="3" creatorID="0" sortOrder="3" createDate="2016-10-27T14:03:03" updateDate="2016-10-27T14:03:03" nodeName="Das Rechenwerk ist eine Komponente der CPU" urlName="das-rechenwerk-ist-eine-komponente-der-cpu" path="-1,1063,1137,1139" isDoc="" nodeType="1122" creatorName="admin" writerName="admin" writerID="0" template="1121" nodeTypeAlias="singleChoiceQuestion">
        <antwortmoeglichkeiten><![CDATA[ja|nein]]></antwortmoeglichkeiten>
        <frage><![CDATA[<p>Das Rechenwerk ist eine Komponente der CPU</p>]]></frage>
      </singleChoiceQuestion>
    </overview>
    <overview id="1102" key="a60e5dc5-d622-4627-b1a3-378517fbf35b" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2016-10-18T13:37:00" updateDate="2016-10-27T13:58:14" nodeName="Benutzer" urlName="benutzer" path="-1,1063,1102" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <profile id="1103" key="31fbfbd7-de0b-4dd5-9904-250cead4b8f5" parentID="1102" level="3" creatorID="0" sortOrder="0" createDate="2016-10-18T13:38:23" updateDate="2016-10-26T18:04:09" nodeName="Milan Höllner" urlName="milan-hoellner" path="-1,1063,1102,1103" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dualstudent der Informatik</p>
<p>Momentan Designer des Mockups für das Software Engineering Projekt E-Learning.</p>]]></profileDescription>
      </profile>
      <profile id="1104" key="ed4a9954-b3cb-417e-822c-8d9a141d7ee0" parentID="1102" level="3" creatorID="0" sortOrder="1" createDate="2016-10-18T13:52:54" updateDate="2016-10-18T14:02:26" nodeName="Katja Holzinger" urlName="katja-holzinger" path="-1,1063,1102,1104" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dualstudentin der Informatik</p>
<p>Momentan Dokumentationsbeauftragte des Software Engineering Projekts E-Learning.</p>]]></profileDescription>
      </profile>
      <profile id="1105" key="e38cabee-e144-4d57-a926-ca720c027823" parentID="1102" level="3" creatorID="0" sortOrder="2" createDate="2016-10-18T13:54:32" updateDate="2016-10-18T14:02:33" nodeName="Maximilian Prohl" urlName="maximilian-prohl" path="-1,1063,1102,1105" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dualstudent der Informatik</p>
<p>Momentan Teamleiter des Software Engineering Projekts E-Learning.</p>]]></profileDescription>
      </profile>
      <profile id="1116" key="36cf08a1-f701-4626-ae1e-7a9256f094fc" parentID="1102" level="3" creatorID="0" sortOrder="3" createDate="2016-10-21T10:06:51" updateDate="2016-10-21T12:11:38" nodeName="Frau Winter" urlName="frau-winter" path="-1,1063,1102,1116" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dozentin der HWR Berlin</p>
<p>Schwerpunkte: Analysis, Diskrete Mathematik, spezielle mathematische Methoden</p>]]></profileDescription>
      </profile>
      <profile id="1134" key="d85410ac-5abc-4c84-8092-f980ab262a37" parentID="1102" level="3" creatorID="0" sortOrder="4" createDate="2016-10-21T12:07:05" updateDate="2016-10-21T12:11:50" nodeName="Herr Loock-Wagner" urlName="herr-loock-wagner" path="-1,1063,1102,1134" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dozent für Recht, Rechtsanwalt</p>]]></profileDescription>
      </profile>
      <profile id="1135" key="5e363240-7c0b-48ce-a0d4-168cef6f243f" parentID="1102" level="3" creatorID="0" sortOrder="5" createDate="2016-10-21T12:07:27" updateDate="2016-10-21T12:11:57" nodeName="Frau Seemann" urlName="frau-seemann" path="-1,1063,1102,1135" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dozentin für IT und Gesellschaft</p>]]></profileDescription>
      </profile>
      <profile id="1136" key="34805481-f67c-4995-b3be-f83f9e2c8a83" parentID="1102" level="3" creatorID="0" sortOrder="6" createDate="2016-10-21T12:21:37" updateDate="2016-10-21T12:22:10" nodeName="Frau Monett-Díaz" urlName="frau-monett-díaz" path="-1,1063,1102,1136" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="profile">
        <profileDescription><![CDATA[<p>Dozentin für Software-Engineering</p>]]></profileDescription>
      </profile>
    </overview>
    <overview id="1106" key="7c0b4874-0ee4-4f05-bcd4-b63f83165b16" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2016-10-21T09:48:14" updateDate="2016-10-27T13:58:14" nodeName="Module" urlName="module" path="-1,1063,1106" isDoc="" nodeType="1088" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="overview">
      <modul id="1114" key="bef93ade-9679-479e-b53d-f183435c49f6" parentID="1106" level="3" creatorID="0" sortOrder="0" createDate="2016-10-21T10:04:24" updateDate="2016-10-21T12:16:28" nodeName="Analysis" urlName="analysis" path="-1,1063,1106,1114" isDoc="" nodeType="1113" creatorName="admin" writerName="admin" writerID="0" template="1112" nodeTypeAlias="modul">
        <ansprechpartner><![CDATA[1116]]></ansprechpartner>
        <zugehoerigeWissenstests><![CDATA[1095]]></zugehoerigeWissenstests>
        <zugehoerigeLerninhalte><![CDATA[1086]]></zugehoerigeLerninhalte>
        <description><![CDATA[<p>Aus der Studiengangsbeschreibung:</p>
<p>Die Studierenden kennen die wesentlichen Differentiations- und Integrationsmethoden und sind in der Lage stationäre Kurven- oder Flächenpunkte, Bogenlänge, Oberföäche, Volume, und Massenmittelpunkt. sowohl exakt als auch numerisch zu berechnen. Sie verstehen, was Konvergenz von Reihen bedeutet, können Kurven- und Flächenstücke durch Taylorpolynome approximieren und finden für Differetialgleichungen einen exakten oder numerischen Lösungsalgorithmus.</p>]]></description>
      </modul>
      <modul id="1117" key="72c18647-755c-49c6-97be-aede5d3b6759" parentID="1106" level="3" creatorID="0" sortOrder="1" createDate="2016-10-21T10:49:42" updateDate="2016-10-21T12:22:31" nodeName="Software-Engineering I" urlName="software-engineering-i" path="-1,1063,1106,1117" isDoc="" nodeType="1113" creatorName="admin" writerName="admin" writerID="0" template="1112" nodeTypeAlias="modul">
        <ansprechpartner><![CDATA[1136]]></ansprechpartner>
        <description><![CDATA[<p>Aus der Studiengangsbeschreibung:</p>
<p>Die Studierenden kennen aktuelle Technologien des Software-Engineering und die entsprechenden Termini. Sie sind vertraut mit dem Lebenszyklus von Software, deren Phasen und unterschiedlichen Vorgehensmodellen. Sie finden, analysieren und dokumentieren Kundenanforderungen selbstständig und systematisch. Semiformale Methoden der Beschreibung sind anwendungsbereit. Den Studierenden sind Methoden zur Prüfung von Anforderungsspezifikationen bekannt. Sie beherrschen auch die objektorientierte Modellierung mit UML.</p>]]></description>
      </modul>
      <modul id="1131" key="59166d1b-8c29-4748-b5ee-aadd1a57e5a7" parentID="1106" level="3" creatorID="0" sortOrder="2" createDate="2016-10-21T12:03:09" updateDate="2016-10-21T12:17:30" nodeName="Gesellschaftliche und juristische Aspekte der IT" urlName="gesellschaftliche-und-juristische-aspekte-der-it" path="-1,1063,1106,1131" isDoc="" nodeType="1113" creatorName="admin" writerName="admin" writerID="0" template="1112" nodeTypeAlias="modul">
        <ansprechpartner><![CDATA[1134,1135]]></ansprechpartner>
        <zugehoerigeLerninhalte><![CDATA[1132,1133]]></zugehoerigeLerninhalte>
        <description><![CDATA[<p>Aus der Studiengangsbeschreibung:</p>
<p>Die Studierenden sind in der Lage, die Wechselwirkung der Informatik mit anderen wissenschaftlichen und gesellschaftlichen Bereichen in Arbeit, Öffentlichkeit, Recht und Kultur zu erkennen. Sie können in der Analyse und der Diskussion von Fallbeispielen die Integration gesellschaftlicher Fragestellungen in den Arbeitsbereich der Informationstechnik leisten. Sie können dabei erfassen:</p>
<p>- wie Informationstechnik in soziale und kulturelle Verhältnisse eingreift, umgekehrt diese aber auch auf die Gestaltung der Informationstechnik einwirken,</p>
<p>- wie InformatikerInnen von daher die sozialen Aspekte ihrer Arbeit wahrnehmen und verstehen lernen müssen,</p>
<p>- dass ethische Kriterien, Werte und Normen für die Entwicklung und den Einsatz von Informatikprodukten diskutiert und entwickelt werden müssen.</p>
<p>Sie sind über die rechtlichen Aspekte ihrer Arbeit ausreichend informiert: sie können den Prozess der Rechtsbildung im informationstechnischen Raum beobachten und verstehen. Sie sind befähigt, in ihrem Arbeitsbereich sachkundig daran mitzuwirken, den gemeinsamen Diskurs von Jura, Politik sowie Informatik und Betroffenen zu unterstützen. Sie können erkennen, dass die Beherrschung rechtlicher Fragen der Informationstechnik eng verbunden ist mit der Sicherheit und Zuverlässigkeit ihrer Arbeit.</p>]]></description>
      </modul>
      <modul id="1138" key="757fcaff-b292-4700-ba31-438281d685f4" parentID="1106" level="3" creatorID="0" sortOrder="3" createDate="2016-10-27T14:01:25" updateDate="2016-10-27T14:05:06" nodeName="Struktur und Funktion von Rechenanlagen" urlName="struktur-und-funktion-von-rechenanlagen" path="-1,1063,1106,1138" isDoc="" nodeType="1113" creatorName="admin" writerName="admin" writerID="0" template="1112" nodeTypeAlias="modul">
        <zugehoerigeWissenstests><![CDATA[1140]]></zugehoerigeWissenstests>
        <description><![CDATA[<p>Beschreibung</p>]]></description>
      </modul>
    </overview>
    <LandingPage id="1096" key="3b702950-ac60-484f-8768-a0437a1513c4" parentID="1063" level="2" creatorID="0" sortOrder="5" createDate="2016-10-18T13:21:00" updateDate="2016-10-27T13:58:14" nodeName="Logged In" urlName="logged-in" path="-1,1063,1096" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Du hast dich erfolgreich eingeloggt.",
                  "editor": {
                    "alias": "abstract"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "styles": {},
          "config": {
            "class": "full triangle"
          },
          "hasConfig": true,
          "id": "5cd38069-33fd-bc6a-00c0-1f2a40dae301",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
    <LandingPage id="1130" key="0128aff0-2833-4e90-86be-05b8157a72e8" parentID="1063" level="2" creatorID="0" sortOrder="6" createDate="2016-10-21T11:50:12" updateDate="2016-10-27T13:58:14" nodeName="Auswertung Default" urlName="auswertung-default" path="-1,1063,1130" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Sie haben 2 von 2 Fragen richtig beantwortet.",
                  "editor": {
                    "alias": "abstract"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "1a88bc79-934f-bcb7-494d-0a3f0e6a5e6d",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
  </Home>
</root>