.wrapper {
    border-top: 4px solid #D92425;
}

.align-right {
    position:relative;
    right:0;
    text-align:right;
    vertical-align:middle;
}

.background-red {
    background-color: #d92425;
    color: #f5f5f5;
}

.background-grey {
    background-color: #f5f5f5;
    border: 1px solid #eee;
}

.boxes {
    padding: 13px;
}

.boxes-grey {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 3px;
}

.boxes .footer {
    margin-top: 10px;
}

.btn-grey {
    background-color: #f5f5f5;
    margin-bottom: 4px;
    white-space: normal;
}

.btn-left {
    margin-bottom: 4px;
    white-space: normal;
    text-align: left;
}

.btn-redhover:hover {
    background-color: #d92425;
    color: #f5f5f5;
}


.input-group.name {
    margin-bottom: 10px;
}

.input-group-addon {
    width: 40px;
}

.login-form {
    padding: 15px 0 15px 0;
}

.background-dark {
    background: none repeat scroll 0 0 #6B6F73;
    color: #fff;
}

    .background-dark a {
        color: #fff;
    }

        .background-dark a:visited {
            color: #fff;
        }

    .background-dark > .active {
        color: #fff;
    }

    .background-dark .breadcrumb {
        background: none repeat scroll 0 0 #6B6F73;
        color: #fff;
    }

        .background-dark .breadcrumb a {
            color: #fff;
        }

.breadcrumb .background-dark .breadcrumb a:visited {
    color: #fff;
}

.background-dark .breadcrumb > .active {
    color: #fff;
}

.background-dark .breadcrumb-item:before {
    color: #fff;
}

.header {
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-loggedIn {
    color: #000000;
    display: none;
}

/* Fragebogen Section*/

.customMenuItem {
    background-color: White;
    color: darkslategray;
    height: auto;
    padding: 8px;
    margin: 0px !important;
    border: 1px solid gray;
    text-align: left;
    width: 100%;
}

    .customMenuItem:hover {
        background-color: #D92425;
        color: white;
        border: 1px solid gray;
    }

.radioQuestionContainer > .active {
    background-color: #EDEDED !important;
    color: black !important;
}

.checkQuestionContainer > .active {
    background-color: #EDEDED !important;
    color: black !important;
}

.radioQuestionContainer > .focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.checkQuestionContainer > .focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.questHeader {
    background-color: #6B6F73;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}

.customMenuItem:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.customBtn {
    border-radius: 0px;
}
