@inherits UmbracoTemplatePage

<footer id="page-footer" class="container-fluid">
    <div class="row-fluid">
        <aside id="block-region-footer-left" class="span4 block-region" data-blockregion="footer-left" data-droptarget="1"></aside>
        <aside id="block-region-footer-middle" class="span4 block-region" data-blockregion="footer-middle" data-droptarget="1"></aside>
        <aside id="block-region-footer-right" class="span4 block-region" data-blockregion="footer-right" data-droptarget="1"></aside>
    </div>
    <div class="footerlinks">
        <div class="row-fluid">
            <p class="helplink"></p>
        </div>
        <div class="socials row-fluid">
            <div class="span6">
                <div class="social_contact">
                    <i class="fa fa-bookmark-o"></i> &nbsp;<a href='/' target="_blank" class="social_contact_web">http:localhost:313</a>
                </div>
            </div>
            <div class="span6">
                <div class="social_icons pull-right">
                    <a class="social fa fa-facebook" href='https://www.facebook.com/elearningHWR' target='_blank'> </a> <a class="social fa fa-twitter" href='https://twitter.com/erlerner' target='_blank'> </a> <a class="social fa fa-youtube" href='https://www.youtube.com/channel/UCnzp5ybpuK1PgRm4ny8zWbA' target='_blank'> </a>
                </div>
            </div>
        </div>
    </div>
</footer>