@using ELearning.Models
@model List<ELearning.Models.Item>

<div class="background-dark sticky-top">
    <div class="container breadcrumb">
                @foreach (Item item in Model)
            {
                if (Model.Last().Id != item.Id)
                {

                        <a class="breadcrumb-item" href="@item.Url">@item.Name</a>
                    }
                    else
                    {
                        <span class="breadcrumb-item active">@item.Name</span>
                    }
                }
    </div>
    
</div>