@using System.ServiceModel.Syndication
@using System.Xml
@inherits UmbracoTemplatePage
@{
    // Get RSS-Feed
    SyndicationFeed items;
    try
    {
        var r = XmlReader.Create("http://www.it.hwr-berlin.de/de/?no_cache=1&type=100");
        items = SyndicationFeed.Load(r);
        r.Close();
    }
    catch (Exception e)
    {
        items = null;
    }
}

@* Renders the IT News on the Right *@
<div class="boxes boxes-grey">
    <h2>
        <i class="fa fa-rss"></i> IT News
    </h2>
    @if (items != null)
    {
        <ul class="nav flex-column">
            @* Get the first three feeds to display *@
            @foreach (SyndicationItem item in items.Items.Take(3))
            {
                <li class="nav-item">
                    <a onclick="this.target = '_blank'" href="@item.Links.FirstOrDefault().GetAbsoluteUri()" class="nav-link btn btn-secondary btn-grey btn-redhover">
                        @item.Title.Text
                    </a>
                </li>
            }
            @* Link to the source *@
            <li class="footer">
                <a href="http://www.it.hwr-berlin.de/" class="btn btn-secondary btn-grey btn-redhover">
                    Quelle
                </a>
            </li>
        </ul>
    }
    else
    {
        <p>
            RSS-Feed konnte nicht geladen werden.
        </p>
    }
</div>