@inherits UmbracoTemplatePage

<aside id="block-region-side-post" class="span3 block-region" data-blockregion="side-post" data-droptarget="1">
    <a class="skip skip-block" id="fsb-4" href="#sb-4">
        IT News überspringen
    </a>
    <div id="inst182873" class="block_rss_client  block" role="complementary" data-block="rss_client" data-instanceid="182873" aria-labelledby="instance-182873-header" data-dockable="1">
        <div class="header">
            <div class="title">
                <div class="block_action"></div>
                <h2 id="instance-182873-header">
                    IT News
                </h2>
            </div>
        </div>
        <div class="content">
            <ul class="list no-overflow">
                <li>
                    <div class="link">
                        <a onclick="this.target = &;quot;_blank & quot;" href="http://www.it.hwr-berlin.de/de/meldungen/news-detail/?tx_ttnews%5Btt_news%5D=146&amp;cHash=7f6879acc69152b50fd40a090b507e98">
                            Studentische Hilfskraft im E-Learning Team ab November gesucht
                        </a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a onclick="this.target = &;quot;_blank & quot;" href="http://www.it.hwr-berlin.de/de/meldungen/news-detail/?tx_ttnews%5Btt_news%5D=148&amp;cHash=818a4ea6407d60ea72e9dacaa69c4f7c">
                            Campus4u Wartungsarbeiten / Maintenance
                        </a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a onclick="this.target = &;quot;_blank & quot;" href="http://www.it.hwr-berlin.de/de/meldungen/news-detail/?tx_ttnews%5Btt_news%5D=144&amp;cHash=813de156d33f1a33ad1b0ec47ff09f95">
                            Studentische Hilfskräfte für das Videoteam am Campus Schöneberg ab September gesucht
                        </a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a onclick="this.target = &;quot;_blank & quot;" href="http://www.it.hwr-berlin.de/de/meldungen/news-detail/?tx_ttnews%5Btt_news%5D=143&amp;cHash=71af1f75f20b215fb1f7a50572b0d0cf">
                            Studentische Hilfskräfte für das Projekt „Berliner Campuscard“ ab September gesucht
                        </a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a onclick="this.target = &;quot;_blank & quot;" href="http://www.it.hwr-berlin.de/de/meldungen/news-detail/?tx_ttnews%5Btt_news%5D=142&amp;cHash=d454e252a401f2134c134dcee5158a84">
                            Neuer IT Servicepoint am Campus Schöneberg
                        </a>
                    </div>
                </li>
            </ul>
            <div class="footer">
                <a href="http://www.it.hwr-berlin.de/">
                    Quelle ...
                </a>
            </div>
        </div>
    </div>
    <span class="skip-block-to" id="sb-6"></span>
</aside>