@using System.ServiceModel.Syndication
@using System.Xml
@inherits UmbracoTemplatePage
@{
    // Get RSS-Feed
    var r = XmlReader.Create("http://www.it.hwr-berlin.de/de/?no_cache=1&type=100");
    var items = SyndicationFeed.Load(r);
    r.Close();
}

@if (items != null)
{
    <div class="boxes boxes-grey">
        <h2>
            <i class="fa fa-rss"></i> IT News
        </h2>
        <ul class="nav flex-column">
            @* Get the first five feeds to display *@
            @foreach (SyndicationItem item in items.Items.Take(5))
            {
                <li class="nav-item">
                    <a onclick="this.target = '_blank'" href="@item.Links.FirstOrDefault().GetAbsoluteUri()" class="btn btn-secondary btn-grey btn-redhover">
                        @item.Title.Text
                    </a>
                </li>
            }
            @* Link to the source *@
            <li class="footer">
                <a href="http://www.it.hwr-berlin.de/" class="btn btn-secondary btn-grey btn-redhover">
                    Quelle
                </a>
            </li>
        </ul>


    </div>
}