@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

<aside id="block-region-side-pre" class="span4 desktop-first-column pull-left block-region" data-blockregion="side-pre" data-droptarget="1">
    <a class="skip skip-block" id="fsb-1" href="#sb-1">
        Navigation überspringen
    </a>
    <div id="inst112421" class="block_navigation  block" role="navigation" data-block="navigation" data-instanceid="112421" aria-labelledby="instance-112421-header" data-dockable="1">
        <div class="header">
            <div class="title">
                <div class="block_action">
                </div>
                <h2 id="instance-112421-header">Navigation</h2>
            </div>
        </div>
        <div class="content">
            <ul class="block_tree list">
                <li class="type_unknown depth_1 contains_branch current_branch" aria-expanded="true">
                    <p class="tree_item branch active_tree_node canexpand navigation_node">
                        <a href="/">
                            Startseite
                        </a>
                    </p>
                    <ul>
                        <li class="type_activity depth_2">
                            <p class="tree_item leaf">
                                <a title="Alle Module" href="/module">
                                    <span class="item-content-wrap">Übersicht der Module</span>
                                </a>
                            </p>
                        </li>
                        <li class="type_activity depth_2">
                            <p class="tree_item leaf">
                                <a title="Alle Videos" href="/videos">
                                    <span class="item-content-wrap">Übersicht der Videos</span>
                                </a>
                            </p>
                        </li>
                        <li class="type_activity depth_2">
                            <p class="tree_item leaf">
                                <a title="Alle Wissenstests" href="/wissenstests">
                                    <span class="item-content-wrap">Übersicht der Wissenstests</span>
                                </a>
                            </p>
                        </li>
                        <li class="type_activity depth_2">
                            <p class="tree_item leaf">
                                <a title="Alle Benutzer" href="/benutzer">
                                    <span class="item-content-wrap">Übersicht der Benutzer</span>
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>