@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

<aside id="block-region-side-pre" class="span4 desktop-first-column pull-left block-region" data-blockregion="side-pre" data-droptarget="1">
    <a class="skip skip-block" id="fsb-1" href="#sb-1">
        Navigation überspringen
    </a>
    <div id="inst112421" class="block_navigation  block" role="navigation" data-block="navigation" data-instanceid="112421" aria-labelledby="instance-112421-header" data-dockable="1">
        <div class="header">
            <div class="title">
                <div class="block_action">
                </div>
                <h2 id="instance-112421-header">Navigation</h2>
            </div>
        </div>
        <div class="content">
            <ul class="block_tree list">
                <li class="type_unknown depth_1 contains_branch current_branch" aria-expanded="true">
                    <p class="tree_item branch active_tree_node canexpand navigation_node">
                        <a href="http://moodle.hwr-berlin.de/">
                            Startseite
                        </a>
                    </p>
                    <ul>
                        <li class="type_activity depth_2 item_with_icon">
                            <p class="tree_item leaf hasicon">
                                <a title="Forum" href="/blog">
                                    <img class="smallicon navicon" alt="Forum" title="Forum" src="http://moodle.hwr-berlin.de/theme/image.php/lambda/forum/1472726786/icon" />
                                    <span class="item-content-wrap">Nachrichten der Webseite</span>
                                </a>
                            </p>
                        </li>
                        <li class="type_activity depth_2 item_with_icon">
                            <p class="tree_item leaf hasicon">
                                <a title="Feedback" href="http://moodle.hwr-berlin.de/mod/feedback/view.php?id=301632">
                                    <img class="smallicon navicon" alt="Feedback" title="Feedback" src="http://moodle.hwr-berlin.de/theme/image.php/lambda/feedback/1472726786/icon" />
                                    <span class="item-content-wrap">Wie gefällt ihnen das neue Moodle-Design?</span>
                                </a>
                            </p>
                        </li>
                        <li class="type_system depth_2 collapsed contains_branch" aria-expanded="false">
                            <p class="tree_item branch" id="expandable_branch_0_courses">
                                <a href="http://moodle.hwr-berlin.de/course/index.php">
                                    Kurse
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>