@using ELearning
@using ELearning.Extensions
@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage

@* Renders Left Navigation with all Overviews *@
<div class="boxes boxes-grey">
    <h2>
            <i class="fa fa-bars"></i> Navigation
    </h2>
    <div>
        <ul class="nav flex-column">
            @{
                var items = ItemExtensions.RootItem().Children.Where(c => c.DocumentTypeAlias == Templates.Datapool);
                var overviews = items.As<ELearning.Models.Overview>();
            }
            @foreach (var overview in overviews)
            {
                if (overview.ShowInNavigation)
                {
                    <li class="nav-item">
                        <a title="@overview.Name" href="@overview.Url" class="nav-link btn btn-secondary btn-left btn-redhover btn-grey">
                            @overview.Name
                        </a>
                    </li>
                }
            }
            <li class="nav-item">
                <a title="Statistiken" href="~/Statistik" class="nav-link btn btn-secondary btn-left btn-redhover btn-grey">
                    Statistiken
                </a>
            </li>
        </ul>
    </div>
</div>
