@inherits UmbracoTemplatePage

@* Renders the login form on the upper right *@
<div class="login-form">
    <form class="" action="javascript:login()" id="unlogged">
        <div id="login-form">
            <div>
                <label class="sr-only" for="inlineFormInputGroup">Anmeldename</label>
                <div class="input-group name">
                    <div class="input-group-addon"><span class="fa fa-user"></span></div>
                    <input type="text" class="form-control" id="username" placeholder="Anmeldename">
                </div>
            </div>
            <div>
                <label class="sr-only" for="inlineFormInputGroup">Kennwort</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="fa fa-key"></span></div>
                    <input type="password" class="form-control" id="password" placeholder="Kennwort">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary background-red" type="submit" id="submit"><span class="fa fa-play"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div id="logged" class="user-loggedIn align-right" style="">
        <span id="nameLogged"></span>
            <button class="btn btn-secondary background-red" type="button" onclick="Logout();"> <span class="fa fa-sign-out"></span></button>
    </div>
    <script src="~/js/Login.js"></script>
</div>