<!-- Javascripts --> <!-- Piwik -->
<script type="text/javascript" src="../js/piwik.js"></script>
<noscript>
    <p>
        <img src="http://webstats.hwr-berlin.de/piwik.php?idsite=2" style="border: 0;" alt="" />
    </p>
</noscript>
<!-- End Piwik Code -->
<script>
    w3IncludeHTML();
</script>
<script type="text/javascript" src="../js/jqueryconfig.js"></script>
<script type="text/javascript" src="http://moodle.hwr-berlin.de/lib/javascript.php/1472726786/lib/requirejs/require.min.js"></script>
<script type="text/javascript">
    //<![CDATA[
    require(['core/first'],
        function () {
            ;
            require(["core/log"], function (amd) { amd.setConfig({ "level": "warn" }); });
        });
    //]]>
</script>
<script type="text/javascript" src="http://moodle.hwr-berlin.de/theme/javascript.php/lambda/1472726786/footer"></script>
<script type="text/javascript" src="../js/moodledict.js"></script>
<script type="text/javascript">
    //<![CDATA[
    var navtreeexpansions112421 = [{ "id": "expandable_branch_0_courses", "key": "courses", "type": 0 }];
    //]]>
</script>
<script type="text/javascript" src="../js/windowthings.js"></script>
<!--[if lte IE 9]>
    <script src="http://moodle.hwr-berlin.de/theme/lambda/javascript/ie/iefix.js"></script>
<![endif]-->
<script type="text/javascript" src="../js/jquerythings.js"></script>