@using ELearning.Extensions
@inherits UmbracoTemplatePage

<header id="page-header" class="header background-red">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <a class="logo" href="/" title="Startseite">
                    <img src="@Umbraco.TypedMedia(ItemExtensions.RootItem().SiteLogo).Url" class="logo vertical-center" alt="logo" />
                </a>
            </div>
            <div class="col-md-3 background-grey">
                @Html.Partial("~/Views/Partials/LoginForm.cshtml")
       
            </div>
        </div>  <!-- end of row -->
    </div>  <!-- end of container -->
</header>
